<h1><%= @restaurant.name %>'s Tables</h1>

<% @tables.each do |table| %>
  <div class='table' width='100px' height='100px' style='background-color: lightgreen; width:200px; height: 200px; display:inline-block'>
  </div>
<% end %>