
.table {
  width: 150px;
  height: 150px;
  /*background-color: lightgreen;*/
  display: inline-block;  
  position: absolute;
  border: 1px solid grey;
}

form {
  margin-top: 15px;
  margin-bottom: 10px;
}


.axis text {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #dd4814;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: relative;
  top: 30px;
}
