
body {
/*  background-color: rgba(174, 167, 159, 0.7) /*#aea79f*/;
}

.header {
  display: inline-block;
}

.table {
  background-color: white /*#efb73e*/;
  width: 150px;
  height: 140px;
  display: inline-block;  
  position: absolute;
  border: 2px solid #efb73e;
  text-align: center;
  border-radius: 10px;
}

button {
  padding-bottom: 10px;
}

form {
  margin-bottom: 10px;
}

.edit-meal {
  display: none;
}

.axis text {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #dd4814;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: relative;
  top: 30px;
}
